body {
	background-color: #e4e9f7;
}

.jobs-list-container {
	max-width: 900px;
	margin: 20px auto;
	font-family: "Rubik", sans-serif;
}

h1 {
	font-size: 30px;
	border-left: 4px solid #023047;
	padding-left: 20px;
}

.jobs-list-container h2 {
	font-size: 30px;
	border-left: 4px solid #023047;
	padding-left: 20px;
}

.jobs-list-container .jobs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 24px;
}

.jobs-list-container .jobs img {
	width: 60px;
}

.jobs-list-container .job {
	box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.5);
	background: white;
	padding: 24px;
	border-radius: 16px;
	position: relative;
	display: flex;
	flex-direction: column;
	transition: all 400ms ease;
}

.jobs-list-container .job:hover {
	transform: scale(1.03);
}

.jobs-list-container .open-positions {
	position: absolute;
	top: 40px;
	right: 24px;
	color: #e63946;
}

.jobs-list-container .job-title {
	font-size: 20px;
	padding: 10px 0;
	margin: 0;
	color: #023047;
}

.jobs-list-container .details {
	margin-top: 6px;
	font-size: 14px;
	color: #333;
	line-height: 1.8;
	flex: 1;
}

.jobs-list-container .details-btn {
	text-decoration: none;
	border: 1px solid #023047;
	color: #000;
	padding: 8px 16px;
	border-radius: 8px;
	text-align: center;
	margin-top: 20px;
	transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
	background: #023047;
	color: #fff;
}

.jobs-list-container .job-search {
	width: 100%;
	padding: 12px 24px;
	font-size: 18px;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
	border: 1px solid #333;
	border-radius: 8px;
	margin-bottom: 20px;
}

.job-add {
	max-width: 900px;
	margin: 20px auto;
	font-family: "Rubik", sans-serif;
	box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.5);
	background: white;
	padding: 24px;
	border-radius: 16px;
	position: relative;
	display: flex;
	flex-direction: column;
	transition: all 400ms ease;
}
.job-add-title {
	font-size: 20px;
	padding: 10px 0;
	margin: 0;
	color: #023047;
}

.back-to-previous {
	 position: absolute;
	 top: 20px;
	 right: 290px;
	 display: inline-block;
	 padding: 10px 20px;
	 background: #fff;
	 color: #000000;
	 border: 1px solid #333;
	 text-decoration: none;
	 border-radius: 5px;
	 transition: background-color 0.3s ease;
	 font-family: "Rubik", sans-serif;
	 margin-bottom: 10px;
 }

.back-to-previous:hover {
	background: #023047;
	color: #fff;
}

.button {
	position: absolute;
	top: 20px;
	right: 390px;
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 1px solid #333;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-family: "Rubik", sans-serif;
}

.button:hover {
	background: #023047;
	color: #fff;
}

.deleteButton {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 1px solid #333;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-family: "Rubik", sans-serif;
}

.deleteButton:hover {
	background: #023047;
	color: #fff;
}

.submitButton {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 1px solid #333;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-family: "Rubik", sans-serif;
}

.submitButton:hover {
	background: #023047;
	color: #fff;
}

@media (max-width: 940px) {
	.jobs-list-container .jobs {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 1250px) {
	.back-to-previous {
		right: 175px;
	}

	.button {
		right: 275px;
	}
}

@media only screen and (max-width: 1024px) {
	.back-to-previous {
		right: 70px;
	}

	.button {
		right: 170px;
	}
}

@media only screen and (max-width: 768px) {
	.back-to-previous {
		right: 10px;
	}

	.button {
		right: 110px;
	}
}

@media only screen and (max-width: 715px) {
	.back-to-previous {
		position: static;
		margin-right: 5px;
	}

	.button {
		position: static;
		margin-bottom: 15px;
	}
}

@media (max-width: 640px) {
	.jobs-list-container .jobs {
		grid-template-columns: 1fr;
		max-width: 400px;
		margin: 0 auto;
	}
}

.hird-img {
	width: 60px;
	margin-bottom: 10px;
}

.jobs-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.elem {
	width: calc(33.33% - 20px); 
	margin-bottom: 20px; 
	border: 1px solid #ccc; 
	padding: 10px;
	box-sizing: border-box;
}

@media (max-width: 940px) {
    .elem {
        width: calc(50% - 20px);
    }
}

@media (max-width: 640px) {
    .elem {
        width: 100%;
    }
}

.add-vissza {
	position: absolute;
	top: 20px;
	right: 290px;
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 1px solid #333;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-family: "Rubik", sans-serif;
	margin-bottom: 10px;
}

.add-vissza:hover {
   background: #023047;
   color: #fff;
}

@media only screen and (max-width: 1385px) {
	.add-vissza {
		position: static;
	}
}